# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/node_modules
/.pnp
.pnp.*
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/versions

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*

# env files (can opt-in for committing if needed)
.env*

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# images
/public/1.png
/public/2b.png
/public/3.png
/public/4.png
/public/6.png
/public/7.png
/public/blur-bg.PNG
/public/dash-bg.jpg
/public/logo5.png
/public/logo6.png
/public/menu-bg.jpg
/public/menu-bg.webp
/public/save-bg.jpg
/public/test.png