@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #000000;
}

/* Dark mode overrides */
@media (prefers-color-scheme: dark) {
  :root {
    --background: #000000;
    --foreground: #ededed;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Arial, Helvetica, sans-serif;
  
  /* Prevent horizontal scroll on mobile */
  overflow-x: hidden; 
}

/* --- THE PAPER CONTAINER --- */
.screenplay-page {
  
  width: 8.5in;
  min-height: 11in;
  
  
  padding: 1in 1.5in; 
  
  /* Visuals */
  background: white;
  box-shadow: 0 0 20px rgba(0,0,0,0.1); 
  
  /* Text Defaults */
  color: black; 
  font-family: "Courier Prime", "Courier", monospace;
  font-size: 12pt;
  line-height: 1; 
}